<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StyleSphere"
        tools:targetApi="31">
        <activity
            android:name=".DressesActivity"
            android:exported="false"
            android:label="@string/title_activity_dresses"
            android:theme="@style/Theme.StyleSphere.NoActionBar" />
        <activity
            android:name=".SkirtsActivity"
            android:exported="false"
            android:label="@string/title_activity_skirts"
            android:theme="@style/Theme.StyleSphere.NoActionBar" />
        <activity
            android:name=".ShortsActivity"
            android:exported="false"
            android:label="@string/title_activity_shorts"
            android:theme="@style/Theme.StyleSphere.NoActionBar" />
        <activity
            android:name=".PantsActivity"
            android:exported="false"
            android:label="@string/title_activity_pants"
            android:theme="@style/Theme.StyleSphere.NoActionBar" />
        <activity
            android:name=".LongSleeveActivity"
            android:exported="false"
            android:label="@string/title_activity_long_sleeve"
            android:theme="@style/Theme.StyleSphere.NoActionBar" />
        <activity
            android:name=".ShortSleeveActivity"
            android:exported="false"
            android:label="@string/title_activity_short_sleeve"
            android:theme="@style/Theme.StyleSphere.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>